{{ define "main" }}
<article class="section-block">
  <h1 class="section-title">{{ .Title }}</h1>
  <p class="publication-date">{{ .Date.Format "January 2, 2006" }}</p>
  {{ with .Params.summary }}<p style="font-family: IBM Plex Mono, monospace; font-size: 1rem;">{{ . }}</p>{{ end }}

  <section class="expertise-subsection" style="border-top: 2px dashed var(--h1-color); margin-top: 0.8rem; padding-top: 0.8rem;">
    <div style="font-family: IBM Plex Mono, monospace; font-size: 1rem; line-height: 1.6;">
      {{ .Content }}
    </div>
  </section>
</article>
{{ end }}
